<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
        <add key="host" value="localhost" />
        <add key="port" value="8000" />
        <add key="username" value="<user-with-admin-role>" />
        <add key="password" value="<password-for-user>" />
        <add key="realm" value="public" />
    </appSettings>   
</configuration>
